@use "sass:map";
@use "@angular/material" as mat;

$mse-darker: #231f20;
$mse-lighter: #ffffff;

$paleta-azul: (
  50: #e5e8f0,
  100: #bdc6d9,
  200: #91a0c0,
  300: #657aa7,
  400: #445e94,
  500: #234181,
  600: #1f3b79,
  700: #1a326e,
  800: #152a64,
  900: #0c1c51,
  A100: #879fff,
  A200: #5476ff,
  A400: #214dff,
  A700: #0838ff,
  contrast: (
    50: $mse-darker,
    100: $mse-darker,
    200: $mse-darker,
    300: $mse-lighter,
    400: $mse-lighter,
    500: $mse-lighter,
    600: $mse-lighter,
    700: $mse-lighter,
    800: $mse-lighter,
    900: $mse-lighter,
    A100: $mse-darker,
    A200: $mse-lighter,
    A400: $mse-lighter,
    A700: $mse-lighter,
  ),
);
$paleta-naranja: (
  50: #fff8e9,
  100: #ffefc7,
  200: #ffe4a2,
  300: #ffd97c,
  400: #ffd060,
  500: #ffc844,
  600: #ffc23e,
  700: #ffbb35,
  800: #ffb42d,
  900: #ffa71f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffebce,
  A700: #ffe0b5,
  contrast: (
    50: $mse-darker,
    100: $mse-darker,
    200: $mse-darker,
    300: $mse-darker,
    400: $mse-darker,
    500: $mse-darker,
    600: $mse-darker,
    700: $mse-darker,
    800: $mse-darker,
    900: $mse-darker,
    A100: $mse-darker,
    A200: $mse-darker,
    A400: $mse-darker,
    A700: $mse-darker,
  ),
);
$paleta-rojo: (
  50: #fde4e5,
  100: #fabbbd,
  200: #f68e92,
  300: #f26066,
  400: #f03e45,
  500: #ed1c24,
  600: #eb1920,
  700: #e8141b,
  800: #e51116,
  900: #e0090d,
  A100: #ffffff,
  A200: #ffd7d7,
  A400: #ffa4a5,
  A700: #ff8b8c,
  contrast: (
    50: $mse-darker,
    100: $mse-darker,
    200: $mse-darker,
    300: $mse-darker,
    400: $mse-lighter,
    500: $mse-lighter,
    600: $mse-lighter,
    700: $mse-lighter,
    800: $mse-lighter,
    900: $mse-lighter,
    A100: $mse-darker,
    A200: $mse-darker,
    A400: $mse-darker,
    A700: $mse-darker,
  ),
);
